In [47]:
import pandas as pd
import math


births = pd.read_csv("data/birth_data.csv")
births.columns = ["Month", "Birth Rate"]
births.index = births["Month"]
births.drop(columns=["Month"], inplace=True)


jobs = pd.read_csv("data/Employment_no_SA.csv")
jobs = jobs.drop(["Month.1"], axis=1)
jobs.index = jobs.Month
jobs = jobs.drop(["Month"], axis=1)
jobs.columns = ["Employment %"]

bus_rides = pd.read_csv("data/passengers_per_month.csv")
bus_rides.columns = ["Month", "Avg Bus Utilization"]
bus_rides.index = bus_rides["Month"]
bus_rides.drop(columns=["Month"], inplace=True)


population = pd.read_csv("data/population_data.csv")
air = pd.read_csv("data/air_quality_data.csv")
air["DateTime"] = pd.to_datetime(air["DateTime"])
air.set_index("DateTime", inplace=True)

air_month = pd.DataFrame(air.resample("BMS").mean()["AQI_Site"])
air_month.columns = ["AQI"]
air_month.index = pd.to_datetime(air_month.index)

Serieses = [births, jobs]
# Serieses = [births, jobs, bus_rides]
for s in Serieses:
    print(s.head(3))

            Birth Rate
Month
2006-01-01         390
2006-02-01         364
2006-03-01         417
            Employment %
Month
1978-02-01          61.1
1978-03-01          61.1
1978-04-01          61.1

In [120]:
series_names = ["Employment %", "Birth Rate"]

doo = pd.concat(Serieses, axis=1)
doo.dropna(inplace=True)
projection = pd.DataFrame(columns=doo.columns)
for s_name in series_names:
    doo[s_name + " delta"] = doo[s_name].diff()
doo.drop(doo.head(1).index, inplace=True)
doo.drop(doo.tail(1).index, inplace=True)

/home/metaten/.virtualenvs/govhack/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [103]:
periods = 120
pred = pd.date_range(doo.tail(1).index.values[0], periods=periods, freq='M')
e_end: float = 70 
e_start: float = 60
def lerp(start, end, frac):
    return start + ((end - start) * frac)

def lerp_range(start, end, steps):
    return [lerp(start, end, x/(steps -1)) for x in range(steps)]

d = pd.DataFrame({"Date": pred, "Employment": lerp_range(e_start,e_end, periods)})

In [114]:
d

          Date  Employment
0   2017-11-30   60.000000
1   2017-12-31   60.084034
2   2018-01-31   60.168067
3   2018-02-28   60.252101
4   2018-03-31   60.336134
..         ...         ...
115 2027-06-30   69.663866
116 2027-07-31   69.747899
117 2027-08-31   69.831933
118 2027-09-30   69.915966
119 2027-10-31   70.000000

[120 rows x 2 columns]

In [119]:
last = doo.tail(1)
predicted_series = "Employment %"
series_names = ["Employment %", "Birth Rate"]

for row in d.iterrows():
    print(row)
    diff = last[predicted_series] - row[predicted_series]
    doo["LS"] = ((doo[predicted_series] - diff)/ doo[predicted_series].mean()) ** 2
    doo[doo["LS"] == doo["LS"].min()]
    
    
    
    
    # projection.append()

(0, Date          2017-11-30 00:00:00
Employment                     60
Name: 0, dtype: object)
(1, Date          2017-12-31 00:00:00
Employment                 60.084
Name: 1, dtype: object)
(2, Date          2018-01-31 00:00:00
Employment                60.1681
Name: 2, dtype: object)
(3, Date          2018-02-28 00:00:00
Employment                60.2521
Name: 3, dtype: object)
(4, Date          2018-03-31 00:00:00
Employment                60.3361
Name: 4, dtype: object)
(5, Date          2018-04-30 00:00:00
Employment                60.4202
Name: 5, dtype: object)
(6, Date          2018-05-31 00:00:00
Employment                60.5042
Name: 6, dtype: object)
(7, Date          2018-06-30 00:00:00
Employment                60.5882
Name: 7, dtype: object)
(8, Date          2018-07-31 00:00:00
Employment                60.6723
Name: 8, dtype: object)
(9, Date          2018-08-31 00:00:00
Employment                60.7563
Name: 9, dtype: object)
(10, Date          2018-09-30 00:00:00
Employment                60.8403
Name: 10, dtype: object)
(11, Date          2018-10-31 00:00:00
Employment                60.9244
Name: 11, dtype: object)
(12, Date          2018-11-30 00:00:00
Employment                61.0084
Name: 12, dtype: object)
(13, Date          2018-12-31 00:00:00
Employment                61.0924
Name: 13, dtype: object)
(14, Date          2019-01-31 00:00:00
Employment                61.1765
Name: 14, dtype: object)
(15, Date          2019-02-28 00:00:00
Employment                61.2605
Name: 15, dtype: object)
(16, Date          2019-03-31 00:00:00
Employment                61.3445
Name: 16, dtype: object)
(17, Date          2019-04-30 00:00:00
Employment                61.4286
Name: 17, dtype: object)
(18, Date          2019-05-31 00:00:00
Employment                61.5126
Name: 18, dtype: object)
(19, Date          2019-06-30 00:00:00
Employment                61.5966
Name: 19, dtype: object)
(20, Date          2019-07-31 00:00:00
Employment                61.6807
Name: 20, dtype: object)
(21, Date          2019-08-31 00:00:00
Employment                61.7647
Name: 21, dtype: object)
(22, Date          2019-09-30 00:00:00
Employment                61.8487
Name: 22, dtype: object)
(23, Date          2019-10-31 00:00:00
Employment                61.9328
Name: 23, dtype: object)
(24, Date          2019-11-30 00:00:00
Employment                62.0168
Name: 24, dtype: object)
(25, Date          2019-12-31 00:00:00
Employment                62.1008
Name: 25, dtype: object)
(26, Date          2020-01-31 00:00:00
Employment                62.1849
Name: 26, dtype: object)
(27, Date          2020-02-29 00:00:00
Employment                62.2689
Name: 27, dtype: object)
(28, Date          2020-03-31 00:00:00
Employment                62.3529
Name: 28, dtype: object)
(29, Date          2020-04-30 00:00:00
Employment                 62.437
Name: 29, dtype: object)
(30, Date          2020-05-31 00:00:00
Employment                 62.521
Name: 30, dtype: object)
(31, Date          2020-06-30 00:00:00
Employment                 62.605
Name: 31, dtype: object)
(32, Date          2020-07-31 00:00:00
Employment                62.6891
Name: 32, dtype: object)
(33, Date          2020-08-31 00:00:00
Employment                62.7731
Name: 33, dtype: object)
(34, Date          2020-09-30 00:00:00
Employment                62.8571
Name: 34, dtype: object)
(35, Date          2020-10-31 00:00:00
Employment                62.9412
Name: 35, dtype: object)
(36, Date          2020-11-30 00:00:00
Employment                63.0252
Name: 36, dtype: object)
(37, Date          2020-12-31 00:00:00
Employment                63.1092
Name: 37, dtype: object)
(38, Date          2021-01-31 00:00:00
Employment                63.1933
Name: 38, dtype: object)
(39, Date          2021-02-28 00:00:00
Employment                63.2773
Name: 39, dtype: object)
(40, Date          2021-03-31 00:00:00
Employment                63.3613
Name: 40, dtype: object)
(41, Date          2021-04-30 00:00:00
Employment                63.4454
Name: 41, dtype: object)
(42, Date          2021-05-31 00:00:00
Employment                63.5294
Name: 42, dtype: object)
(43, Date          2021-06-30 00:00:00
Employment                63.6134
Name: 43, dtype: object)
(44, Date          2021-07-31 00:00:00
Employment                63.6975
Name: 44, dtype: object)
(45, Date          2021-08-31 00:00:00
Employment                63.7815
Name: 45, dtype: object)
(46, Date          2021-09-30 00:00:00
Employment                63.8655
Name: 46, dtype: object)
(47, Date          2021-10-31 00:00:00
Employment                63.9496
Name: 47, dtype: object)
(48, Date          2021-11-30 00:00:00
Employment                64.0336
Name: 48, dtype: object)
(49, Date          2021-12-31 00:00:00
Employment                64.1176
Name: 49, dtype: object)
(50, Date          2022-01-31 00:00:00
Employment                64.2017
Name: 50, dtype: object)
(51, Date          2022-02-28 00:00:00
Employment                64.2857
Name: 51, dtype: object)
(52, Date          2022-03-31 00:00:00
Employment                64.3697
Name: 52, dtype: object)
(53, Date          2022-04-30 00:00:00
Employment                64.4538
Name: 53, dtype: object)
(54, Date          2022-05-31 00:00:00
Employment                64.5378
Name: 54, dtype: object)
(55, Date          2022-06-30 00:00:00
Employment                64.6218
Name: 55, dtype: object)
(56, Date          2022-07-31 00:00:00
Employment                64.7059
Name: 56, dtype: object)
(57, Date          2022-08-31 00:00:00
Employment                64.7899
Name: 57, dtype: object)
(58, Date          2022-09-30 00:00:00
Employment                64.8739
Name: 58, dtype: object)
(59, Date          2022-10-31 00:00:00
Employment                 64.958
Name: 59, dtype: object)
(60, Date          2022-11-30 00:00:00
Employment                 65.042
Name: 60, dtype: object)
(61, Date          2022-12-31 00:00:00
Employment                65.1261
Name: 61, dtype: object)
(62, Date          2023-01-31 00:00:00
Employment                65.2101
Name: 62, dtype: object)
(63, Date          2023-02-28 00:00:00
Employment                65.2941
Name: 63, dtype: object)
(64, Date          2023-03-31 00:00:00
Employment                65.3782
Name: 64, dtype: object)
(65, Date          2023-04-30 00:00:00
Employment                65.4622
Name: 65, dtype: object)
(66, Date          2023-05-31 00:00:00
Employment                65.5462
Name: 66, dtype: object)
(67, Date          2023-06-30 00:00:00
Employment                65.6303
Name: 67, dtype: object)
(68, Date          2023-07-31 00:00:00
Employment                65.7143
Name: 68, dtype: object)
(69, Date          2023-08-31 00:00:00
Employment                65.7983
Name: 69, dtype: object)
(70, Date          2023-09-30 00:00:00
Employment                65.8824
Name: 70, dtype: object)
(71, Date          2023-10-31 00:00:00
Employment                65.9664
Name: 71, dtype: object)
(72, Date          2023-11-30 00:00:00
Employment                66.0504
Name: 72, dtype: object)
(73, Date          2023-12-31 00:00:00
Employment                66.1345
Name: 73, dtype: object)
(74, Date          2024-01-31 00:00:00
Employment                66.2185
Name: 74, dtype: object)
(75, Date          2024-02-29 00:00:00
Employment                66.3025
Name: 75, dtype: object)
(76, Date          2024-03-31 00:00:00
Employment                66.3866
Name: 76, dtype: object)
(77, Date          2024-04-30 00:00:00
Employment                66.4706
Name: 77, dtype: object)
(78, Date          2024-05-31 00:00:00
Employment                66.5546
Name: 78, dtype: object)
(79, Date          2024-06-30 00:00:00
Employment                66.6387
Name: 79, dtype: object)
(80, Date          2024-07-31 00:00:00
Employment                66.7227
Name: 80, dtype: object)
(81, Date          2024-08-31 00:00:00
Employment                66.8067
Name: 81, dtype: object)
(82, Date          2024-09-30 00:00:00
Employment                66.8908
Name: 82, dtype: object)
(83, Date          2024-10-31 00:00:00
Employment                66.9748
Name: 83, dtype: object)
(84, Date          2024-11-30 00:00:00
Employment                67.0588
Name: 84, dtype: object)
(85, Date          2024-12-31 00:00:00
Employment                67.1429
Name: 85, dtype: object)
(86, Date          2025-01-31 00:00:00
Employment                67.2269
Name: 86, dtype: object)
(87, Date          2025-02-28 00:00:00
Employment                67.3109
Name: 87, dtype: object)
(88, Date          2025-03-31 00:00:00
Employment                 67.395
Name: 88, dtype: object)
(89, Date          2025-04-30 00:00:00
Employment                 67.479
Name: 89, dtype: object)
(90, Date          2025-05-31 00:00:00
Employment                 67.563
Name: 90, dtype: object)
(91, Date          2025-06-30 00:00:00
Employment                67.6471
Name: 91, dtype: object)
(92, Date          2025-07-31 00:00:00
Employment                67.7311
Name: 92, dtype: object)
(93, Date          2025-08-31 00:00:00
Employment                67.8151
Name: 93, dtype: object)
(94, Date          2025-09-30 00:00:00
Employment                67.8992
Name: 94, dtype: object)
(95, Date          2025-10-31 00:00:00
Employment                67.9832
Name: 95, dtype: object)
(96, Date          2025-11-30 00:00:00
Employment                68.0672
Name: 96, dtype: object)
(97, Date          2025-12-31 00:00:00
Employment                68.1513
Name: 97, dtype: object)
(98, Date          2026-01-31 00:00:00
Employment                68.2353
Name: 98, dtype: object)
(99, Date          2026-02-28 00:00:00
Employment                68.3193
Name: 99, dtype: object)
(100, Date          2026-03-31 00:00:00
Employment                68.4034
Name: 100, dtype: object)
(101, Date          2026-04-30 00:00:00
Employment                68.4874
Name: 101, dtype: object)
(102, Date          2026-05-31 00:00:00
Employment                68.5714
Name: 102, dtype: object)
(103, Date          2026-06-30 00:00:00
Employment                68.6555
Name: 103, dtype: object)
(104, Date          2026-07-31 00:00:00
Employment                68.7395
Name: 104, dtype: object)
(105, Date          2026-08-31 00:00:00
Employment                68.8235
Name: 105, dtype: object)
(106, Date          2026-09-30 00:00:00
Employment                68.9076
Name: 106, dtype: object)
(107, Date          2026-10-31 00:00:00
Employment                68.9916
Name: 107, dtype: object)
(108, Date          2026-11-30 00:00:00
Employment                69.0756
Name: 108, dtype: object)
(109, Date          2026-12-31 00:00:00
Employment                69.1597
Name: 109, dtype: object)
(110, Date          2027-01-31 00:00:00
Employment                69.2437
Name: 110, dtype: object)
(111, Date          2027-02-28 00:00:00
Employment                69.3277
Name: 111, dtype: object)
(112, Date          2027-03-31 00:00:00
Employment                69.4118
Name: 112, dtype: object)
(113, Date          2027-04-30 00:00:00
Employment                69.4958
Name: 113, dtype: object)
(114, Date          2027-05-31 00:00:00
Employment                69.5798
Name: 114, dtype: object)
(115, Date          2027-06-30 00:00:00
Employment                69.6639
Name: 115, dtype: object)
(116, Date          2027-07-31 00:00:00
Employment                69.7479
Name: 116, dtype: object)
(117, Date          2027-08-31 00:00:00
Employment                69.8319
Name: 117, dtype: object)
(118, Date          2027-09-30 00:00:00
Employment                 69.916
Name: 118, dtype: object)
(119, Date          2027-10-31 00:00:00
Employment                     70
Name: 119, dtype: object)

In [101]:

doo["LS"] = ((doo["E delta"] - 61)/ doo["E delta"].mean()) ** 2 \
            + ((doo["B delta"] - 400)/doo["B delta"].mean()) ** 2 
doo[doo["LS"] == doo["LS"].min()]

            Birth Rate  Employment %  E delta  B delta            LS
2011-09-01       474.0          65.5      0.1     59.0  3.802516e+07

In [100]:
doo

            Birth Rate  Employment %  E delta  B delta  LS
1978-03-01         NaN          61.1      0.0      NaN NaN
1978-04-01         NaN          61.1      0.0      NaN NaN
1978-05-01         NaN          61.1      0.0      NaN NaN
1978-06-01         NaN          61.0     -0.1      NaN NaN
1978-07-01         NaN          61.0      0.0      NaN NaN
...                ...           ...      ...      ...  ..
2019-02-01         NaN          65.7      0.0      NaN NaN
2019-03-01         NaN          65.8      0.1      NaN NaN
2019-04-01         NaN          65.9      0.1      NaN NaN
2019-05-01         NaN          66.0      0.1      NaN NaN
2019-06-01         NaN          66.0      0.0      NaN NaN

[496 rows x 5 columns]

In [ ]:
def dist(series, target):
    return ((series - target[series.nam])/series.mean()) ** 2
doo.apply(lambda :)

In [ ]:
from typing import List

pred = pd.DataFrame()

class Month:
    def __init__(self, y, z):
        y: float = y
        z: float = z
    
    # def distance(self, other: Month) -> float:
    #     


sep = Month(400, )



new_state = Month()