In [199]:
import pandas as pd
import math


births = pd.read_csv("data/birth_data.csv")
births.columns = ["Month", "Birth Rate"]
births.index = births["Month"]
births.drop(columns=["Month"], inplace=True)


jobs = pd.read_csv("data/Employment_no_SA.csv")
jobs = jobs.drop(["Month.1"], axis=1)
jobs.index = jobs.Month
jobs = jobs.drop(["Month"], axis=1)
jobs.columns = ["Employment"]

bus_rides = pd.read_csv("data/passengers_per_month.csv")
bus_rides.columns = ["Month", "Avg Bus Utilization"]
bus_rides.index = bus_rides["Month"]
bus_rides.drop(columns=["Month"], inplace=True)


population = pd.read_csv("data/population_data.csv")
air = pd.read_csv("data/air_quality_data.csv")
air["DateTime"] = pd.to_datetime(air["DateTime"])
air.set_index("DateTime", inplace=True)

air_month = pd.DataFrame(air.resample("BMS").mean()["AQI_Site"])
air_month.columns = ["AQI"]
air_month.index = pd.to_datetime(air_month.index)

Serieses = [births, jobs]
# Serieses = [births, jobs, bus_rides]
for s in Serieses:
    print(s.head(3))

            Birth Rate
Month
2006-01-01         390
2006-02-01         364
2006-03-01         417
            Employment
Month
1978-02-01        61.1
1978-03-01        61.1
1978-04-01        61.1

In [200]:
series_names = ["Employment", "Birth Rate"]

hist_data = pd.concat(Serieses, axis=1)
hist_data.dropna(inplace=True)
projection = pd.DataFrame(columns=hist_data.columns)
for s_name in series_names:
    hist_data[s_name + " delta"] = hist_data[s_name].diff()
hist_data.drop(hist_data.head(1).index, inplace=True)
hist_data.drop(hist_data.tail(1).index, inplace=True)

/home/metaten/.virtualenvs/govhack/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [201]:
periods = 120
pred = pd.date_range(hist_data.tail(1).index.values[0], periods=periods, freq='M')
e_end: float = 70 
e_start: float = 60
def lerp(start, end, frac):
    return start + ((end - start) * frac)

def lerp_range(start, end, steps):
    return [lerp(start, end, x/(steps -1)) for x in range(steps)]

d = pd.DataFrame({"Date": pred, "Employment": lerp_range(e_start,e_end, periods)})

In [223]:
prev_row = hist_data.tail(1)
predicted_series = "Employment"
series_names = ["Employment", "Birth Rate"]

for idx, row in d.iterrows():
    diff = row[predicted_series] - prev_row[predicted_series].values[0]
    new = pd.DataFrame(prev_row)
    new[predicted_series] = row[predicted_series]
    new.iloc[0][predicted_series + " delta"] = diff
    hist_data["LS"] = pd.Series()
    hist_data["LS"] = hist_data["LS"].fillna(0)
    print(hist_data)
    for series in series_names:
        hist_data["LS"] += ((hist_data[series + " delta"] - new[series + " delta"].values[0])/
                           hist_data[series + " delta"].abs().mean()) ** 2
    hist_data.iloc[-1]["LS"] = 2000000000
    least = hist_data[hist_data["LS"] == hist_data["LS"].min()]
    print(hist_data)
    print(new)
    print(least)
    # print(new)
    break
    
    
    # projection.append()

            Birth Rate  Employment  Employment delta  Birth Rate delta   LS
2006-02-01       364.0        64.5               0.0             -26.0  0.0
2006-03-01       417.0        64.5               0.0              53.0  0.0
2006-04-01       374.0        64.6               0.1             -43.0  0.0
2006-05-01       361.0        64.7               0.1             -13.0  0.0
2006-06-01       360.0        64.8               0.1              -1.0  0.0
...                ...         ...               ...               ...  ...
2017-07-01       441.0        65.2               0.1              -1.0  0.0
2017-08-01       439.0        65.2               0.0              -2.0  0.0
2017-09-01       442.0        65.3               0.1               3.0  0.0
2017-10-01       422.0        65.4               0.1             -20.0  0.0
2017-11-01       350.0        60.0               0.0             -72.0  0.0

[142 rows x 5 columns]
            Birth Rate  Employment  Employment delta  Birth Rate delta  \
2006-02-01       364.0        64.5               0.0             -26.0
2006-03-01       417.0        64.5               0.0              53.0
2006-04-01       374.0        64.6               0.1             -43.0
2006-05-01       361.0        64.7               0.1             -13.0
2006-06-01       360.0        64.8               0.1              -1.0
...                ...         ...               ...               ...
2017-07-01       441.0        65.2               0.1              -1.0
2017-08-01       439.0        65.2               0.0              -2.0
2017-09-01       442.0        65.3               0.1               3.0
2017-10-01       422.0        65.4               0.1             -20.0
2017-11-01       350.0        60.0               0.0             -72.0

                      LS
2006-02-01  2.825444e+00
2006-03-01  2.086369e+01
2006-04-01  8.875370e+00
2006-05-01  1.240050e+01
2006-06-01  1.448353e+01
...                  ...
2017-07-01  1.448353e+01
2017-08-01  6.542853e+00
2017-09-01  1.526333e+01
2017-10-01  1.136299e+01
2017-11-01  2.000000e+09

[142 rows x 5 columns]
            Birth Rate  Employment  Employment delta  Birth Rate delta  \
2017-11-01       350.0        60.0               0.0             -72.0

                      LS
2017-11-01  2.000000e+09
            Birth Rate  Employment  Employment delta  Birth Rate delta   LS
2012-04-01       411.0        65.1               0.0             -72.0  0.0

In [188]:
doo["LS"] = doo["LS"].fillna(0)
doo

            Birth Rate  Employment  Employment delta  Birth Rate delta   LS
2006-02-01       364.0        64.5               0.0             -26.0  0.0
2006-03-01       417.0        64.5               0.0              53.0  0.0
2006-04-01       374.0        64.6               0.1             -43.0  0.0
2006-05-01       361.0        64.7               0.1             -13.0  0.0
2006-06-01       360.0        64.8               0.1              -1.0  0.0
...                ...         ...               ...               ...  ...
2017-07-01       441.0        65.2               0.1              -1.0  0.0
2017-08-01       439.0        65.2               0.0              -2.0  0.0
2017-09-01       442.0        65.3               0.1               3.0  0.0
2017-10-01       422.0        65.4               0.1             -20.0  0.0
2017-11-01       350.0        65.5               0.1             -72.0  0.0

[142 rows x 5 columns]

In [101]:

doo["LS"] = ((doo["E delta"] - 61)/ doo["E delta"].mean()) ** 2 \
            + ((doo["B delta"] - 400)/doo["B delta"].mean()) ** 2 
doo[doo["LS"] == doo["LS"].min()]

            Birth Rate  Employment %  E delta  B delta            LS
2011-09-01       474.0          65.5      0.1     59.0  3.802516e+07

In [100]:
doo

            Birth Rate  Employment %  E delta  B delta  LS
1978-03-01         NaN          61.1      0.0      NaN NaN
1978-04-01         NaN          61.1      0.0      NaN NaN
1978-05-01         NaN          61.1      0.0      NaN NaN
1978-06-01         NaN          61.0     -0.1      NaN NaN
1978-07-01         NaN          61.0      0.0      NaN NaN
...                ...           ...      ...      ...  ..
2019-02-01         NaN          65.7      0.0      NaN NaN
2019-03-01         NaN          65.8      0.1      NaN NaN
2019-04-01         NaN          65.9      0.1      NaN NaN
2019-05-01         NaN          66.0      0.1      NaN NaN
2019-06-01         NaN          66.0      0.0      NaN NaN

[496 rows x 5 columns]

In [ ]:
def dist(series, target):
    return ((series - target[series.nam])/series.mean()) ** 2
doo.apply(lambda :)

In [ ]:
from typing import List

pred = pd.DataFrame()

class Month:
    def __init__(self, y, z):
        y: float = y
        z: float = z
    
    # def distance(self, other: Month) -> float:
    #     


sep = Month(400, )



new_state = Month()