In [49]:
import pandas as pd

births = pd.read_csv("birth_data.csv")
births.columns = ["Month", "Birth Rate"]
births.index = births["Month"]
births.drop(columns=["Month"], inplace=True)


jobs = pd.read_csv("Employment_no_SA.csv")
jobs = jobs.drop(["Month.1"], axis=1)
jobs.index = jobs.Month
jobs = jobs.drop(["Month"], axis=1)
jobs.columns = ["Employment"]

bus_rides = pd.read_csv("passengers_per_month.csv")
bus_rides.columns = ["Month", "Avg Bus Utilization"]
bus_rides.index = bus_rides["Month"]
bus_rides.drop(columns=["Month"], inplace=True)


population = pd.read_csv("population_data.csv")
air = pd.read_csv("air_quality_data.csv")
air["DateTime"] = pd.to_datetime(air["DateTime"])
air.set_index("DateTime", inplace=True)

air_month = pd.DataFrame(air.resample("BMS").mean()["AQI_Site"])
air_month.columns = ["AQI"]
air_month.index = pd.to_datetime(air_month.index)

Serieses = [births, jobs]
# Serieses = [births, jobs, bus_rides]
for s in Serieses:
    print(s.head(3))

            Birth Rate
Month
2006-01-01         390
2006-02-01         364
2006-03-01         417
            Employment
Month
1978-02-01        61.1
1978-03-01        61.1
1978-04-01        61.1

In [50]:
series_names = ["Employment", "Birth Rate"]

hist_data = pd.concat(Serieses, axis=1)
hist_data.dropna(inplace=True)
projection = pd.DataFrame(columns=hist_data.columns)
for s_name in series_names:
    hist_data[s_name + " delta"] = hist_data[s_name].diff()
hist_data.drop(hist_data.head(1).index, inplace=True)
hist_data.drop(hist_data.tail(1).index, inplace=True)

/home/metaten/.virtualenvs/govhack/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

            Birth Rate  Employment  Employment delta  Birth Rate delta
2017-09-01       442.0        65.3               0.1               3.0
2017-10-01       422.0        65.4               0.1             -20.0
2017-11-01       350.0        65.5               0.1             -72.0

In [66]:
periods = 120
pred = pd.date_range(hist_data.tail(1).index.values[0], periods=periods, freq='M')
e_end: float = 70 
e_start: float = 65
def lerp(start, end, frac):
    return start + ((end - start) * frac)

def lerp_range(start, end, steps):
    return [lerp(start, end, x/(steps -1)) for x in range(steps)]

predictions = pd.DataFrame({"Date": pred, "Employment": lerp_range(e_start,e_end, periods)})

In [53]:
hist_data.tail(3)

            Birth Rate  Employment  Employment delta  Birth Rate delta
2017-09-01       442.0        65.3               0.1               3.0
2017-10-01       422.0        65.4               0.1             -20.0
2017-11-01       350.0        65.5               0.1             -72.0

In [94]:
hist_data["LS"] = pd.Series()
hist_data["LS"] = hist_data["LS"].fillna(0)
prev_row = hist_data.tail(1).copy(deep=True)
prev_row.drop(columns=["LS"], inplace=True)
predicted_series = "Employment"
series_names = ["Employment", "Birth Rate"]
projection = pd.DataFrame(columns=["Date"].append(series_names))
projection = []

for idx, row in predictions.iterrows():
    diff = row[predicted_series] - prev_row[predicted_series].values[0]
    new = prev_row.copy(deep=True)
    # print(new)
    new[predicted_series] = row[predicted_series]
    new.iloc[0][predicted_series + " delta"] = diff
    hist_data["LS"] = pd.Series()
    hist_data["LS"] = hist_data["LS"].fillna(0)
    for series in series_names:
        hist_data["LS"] += ((hist_data[series + " delta"] - new[series + " delta"].values[0])/
                           hist_data[series + " delta"].abs().mean()) ** 2
    # print(new)
    least = hist_data[hist_data["LS"] == hist_data["LS"].min()]
    # print(hist_data.tail(3))
    # print(least)
    new_proj = {"Date": row["Date"]}
    for series in series_names:
        if series != predicted_series:
            new[series] += least[series + " delta"].values[0]
        new_proj[series] = new[series].values[0]
    prev_row = new.copy(deep=True)
    print(new_proj)
    projection.append(new_proj, ignore_index=True)
        
    
    
    
    
    # projection.append()
projection

{'Date': Timestamp('2017-11-30 00:00:00'), 'Employment': 65.0, 'Birth Rate': 304.0}
{'Date': Timestamp('2017-12-31 00:00:00'), 'Employment': 65.04201680672269, 'Birth Rate': 232.0}
{'Date': Timestamp('2018-01-31 00:00:00'), 'Employment': 65.08403361344538, 'Birth Rate': 160.0}
{'Date': Timestamp('2018-02-28 00:00:00'), 'Employment': 65.12605042016807, 'Birth Rate': 88.0}
{'Date': Timestamp('2018-03-31 00:00:00'), 'Employment': 65.16806722689076, 'Birth Rate': 16.0}
{'Date': Timestamp('2018-04-30 00:00:00'), 'Employment': 65.21008403361344, 'Birth Rate': -56.0}
{'Date': Timestamp('2018-05-31 00:00:00'), 'Employment': 65.25210084033614, 'Birth Rate': -128.0}
{'Date': Timestamp('2018-06-30 00:00:00'), 'Employment': 65.29411764705883, 'Birth Rate': -200.0}
{'Date': Timestamp('2018-07-31 00:00:00'), 'Employment': 65.33613445378151, 'Birth Rate': -272.0}
{'Date': Timestamp('2018-08-31 00:00:00'), 'Employment': 65.3781512605042, 'Birth Rate': -344.0}
{'Date': Timestamp('2018-09-30 00:00:00'), 'Employment': 65.4201680672269, 'Birth Rate': -416.0}
{'Date': Timestamp('2018-10-31 00:00:00'), 'Employment': 65.46218487394958, 'Birth Rate': -488.0}
{'Date': Timestamp('2018-11-30 00:00:00'), 'Employment': 65.50420168067227, 'Birth Rate': -560.0}
{'Date': Timestamp('2018-12-31 00:00:00'), 'Employment': 65.54621848739495, 'Birth Rate': -632.0}
{'Date': Timestamp('2019-01-31 00:00:00'), 'Employment': 65.58823529411765, 'Birth Rate': -704.0}
{'Date': Timestamp('2019-02-28 00:00:00'), 'Employment': 65.63025210084034, 'Birth Rate': -776.0}
{'Date': Timestamp('2019-03-31 00:00:00'), 'Employment': 65.67226890756302, 'Birth Rate': -848.0}
{'Date': Timestamp('2019-04-30 00:00:00'), 'Employment': 65.71428571428571, 'Birth Rate': -920.0}
{'Date': Timestamp('2019-05-31 00:00:00'), 'Employment': 65.75630252100841, 'Birth Rate': -992.0}
{'Date': Timestamp('2019-06-30 00:00:00'), 'Employment': 65.7983193277311, 'Birth Rate': -1064.0}
{'Date': Timestamp('2019-07-31 00:00:00'), 'Employment': 65.84033613445378, 'Birth Rate': -1136.0}
{'Date': Timestamp('2019-08-31 00:00:00'), 'Employment': 65.88235294117646, 'Birth Rate': -1208.0}
{'Date': Timestamp('2019-09-30 00:00:00'), 'Employment': 65.92436974789916, 'Birth Rate': -1280.0}
{'Date': Timestamp('2019-10-31 00:00:00'), 'Employment': 65.96638655462185, 'Birth Rate': -1352.0}
{'Date': Timestamp('2019-11-30 00:00:00'), 'Employment': 66.00840336134453, 'Birth Rate': -1424.0}
{'Date': Timestamp('2019-12-31 00:00:00'), 'Employment': 66.05042016806723, 'Birth Rate': -1496.0}
{'Date': Timestamp('2020-01-31 00:00:00'), 'Employment': 66.09243697478992, 'Birth Rate': -1568.0}
{'Date': Timestamp('2020-02-29 00:00:00'), 'Employment': 66.1344537815126, 'Birth Rate': -1640.0}
{'Date': Timestamp('2020-03-31 00:00:00'), 'Employment': 66.17647058823529, 'Birth Rate': -1712.0}
{'Date': Timestamp('2020-04-30 00:00:00'), 'Employment': 66.21848739495799, 'Birth Rate': -1784.0}
{'Date': Timestamp('2020-05-31 00:00:00'), 'Employment': 66.26050420168067, 'Birth Rate': -1856.0}
{'Date': Timestamp('2020-06-30 00:00:00'), 'Employment': 66.30252100840336, 'Birth Rate': -1928.0}
{'Date': Timestamp('2020-07-31 00:00:00'), 'Employment': 66.34453781512605, 'Birth Rate': -2000.0}
{'Date': Timestamp('2020-08-31 00:00:00'), 'Employment': 66.38655462184875, 'Birth Rate': -2072.0}
{'Date': Timestamp('2020-09-30 00:00:00'), 'Employment': 66.42857142857143, 'Birth Rate': -2144.0}
{'Date': Timestamp('2020-10-31 00:00:00'), 'Employment': 66.47058823529412, 'Birth Rate': -2216.0}
{'Date': Timestamp('2020-11-30 00:00:00'), 'Employment': 66.5126050420168, 'Birth Rate': -2288.0}
{'Date': Timestamp('2020-12-31 00:00:00'), 'Employment': 66.5546218487395, 'Birth Rate': -2360.0}
{'Date': Timestamp('2021-01-31 00:00:00'), 'Employment': 66.59663865546219, 'Birth Rate': -2432.0}
{'Date': Timestamp('2021-02-28 00:00:00'), 'Employment': 66.63865546218487, 'Birth Rate': -2504.0}
{'Date': Timestamp('2021-03-31 00:00:00'), 'Employment': 66.68067226890756, 'Birth Rate': -2576.0}
{'Date': Timestamp('2021-04-30 00:00:00'), 'Employment': 66.72268907563026, 'Birth Rate': -2648.0}
{'Date': Timestamp('2021-05-31 00:00:00'), 'Employment': 66.76470588235294, 'Birth Rate': -2720.0}
{'Date': Timestamp('2021-06-30 00:00:00'), 'Employment': 66.80672268907563, 'Birth Rate': -2792.0}
{'Date': Timestamp('2021-07-31 00:00:00'), 'Employment': 66.84873949579831, 'Birth Rate': -2864.0}
{'Date': Timestamp('2021-08-31 00:00:00'), 'Employment': 66.89075630252101, 'Birth Rate': -2936.0}
{'Date': Timestamp('2021-09-30 00:00:00'), 'Employment': 66.9327731092437, 'Birth Rate': -3008.0}
{'Date': Timestamp('2021-10-31 00:00:00'), 'Employment': 66.97478991596638, 'Birth Rate': -3080.0}
{'Date': Timestamp('2021-11-30 00:00:00'), 'Employment': 67.01680672268907, 'Birth Rate': -3152.0}
{'Date': Timestamp('2021-12-31 00:00:00'), 'Employment': 67.05882352941177, 'Birth Rate': -3224.0}
{'Date': Timestamp('2022-01-31 00:00:00'), 'Employment': 67.10084033613445, 'Birth Rate': -3296.0}
{'Date': Timestamp('2022-02-28 00:00:00'), 'Employment': 67.14285714285714, 'Birth Rate': -3368.0}
{'Date': Timestamp('2022-03-31 00:00:00'), 'Employment': 67.18487394957984, 'Birth Rate': -3440.0}
{'Date': Timestamp('2022-04-30 00:00:00'), 'Employment': 67.22689075630252, 'Birth Rate': -3512.0}
{'Date': Timestamp('2022-05-31 00:00:00'), 'Employment': 67.26890756302521, 'Birth Rate': -3584.0}
{'Date': Timestamp('2022-06-30 00:00:00'), 'Employment': 67.3109243697479, 'Birth Rate': -3656.0}
{'Date': Timestamp('2022-07-31 00:00:00'), 'Employment': 67.3529411764706, 'Birth Rate': -3728.0}
{'Date': Timestamp('2022-08-31 00:00:00'), 'Employment': 67.39495798319328, 'Birth Rate': -3800.0}
{'Date': Timestamp('2022-09-30 00:00:00'), 'Employment': 67.43697478991596, 'Birth Rate': -3872.0}
{'Date': Timestamp('2022-10-31 00:00:00'), 'Employment': 67.47899159663865, 'Birth Rate': -3944.0}
{'Date': Timestamp('2022-11-30 00:00:00'), 'Employment': 67.52100840336135, 'Birth Rate': -4016.0}
{'Date': Timestamp('2022-12-31 00:00:00'), 'Employment': 67.56302521008404, 'Birth Rate': -4088.0}
{'Date': Timestamp('2023-01-31 00:00:00'), 'Employment': 67.60504201680672, 'Birth Rate': -4160.0}
{'Date': Timestamp('2023-02-28 00:00:00'), 'Employment': 67.6470588235294, 'Birth Rate': -4232.0}
{'Date': Timestamp('2023-03-31 00:00:00'), 'Employment': 67.6890756302521, 'Birth Rate': -4304.0}
{'Date': Timestamp('2023-04-30 00:00:00'), 'Employment': 67.73109243697479, 'Birth Rate': -4376.0}
{'Date': Timestamp('2023-05-31 00:00:00'), 'Employment': 67.77310924369748, 'Birth Rate': -4448.0}
{'Date': Timestamp('2023-06-30 00:00:00'), 'Employment': 67.81512605042016, 'Birth Rate': -4520.0}
{'Date': Timestamp('2023-07-31 00:00:00'), 'Employment': 67.85714285714286, 'Birth Rate': -4592.0}
{'Date': Timestamp('2023-08-31 00:00:00'), 'Employment': 67.89915966386555, 'Birth Rate': -4664.0}
{'Date': Timestamp('2023-09-30 00:00:00'), 'Employment': 67.94117647058823, 'Birth Rate': -4736.0}
{'Date': Timestamp('2023-10-31 00:00:00'), 'Employment': 67.98319327731093, 'Birth Rate': -4808.0}
{'Date': Timestamp('2023-11-30 00:00:00'), 'Employment': 68.02521008403362, 'Birth Rate': -4880.0}
{'Date': Timestamp('2023-12-31 00:00:00'), 'Employment': 68.0672268907563, 'Birth Rate': -4952.0}
{'Date': Timestamp('2024-01-31 00:00:00'), 'Employment': 68.10924369747899, 'Birth Rate': -5024.0}
{'Date': Timestamp('2024-02-29 00:00:00'), 'Employment': 68.15126050420169, 'Birth Rate': -5096.0}
{'Date': Timestamp('2024-03-31 00:00:00'), 'Employment': 68.19327731092437, 'Birth Rate': -5168.0}
{'Date': Timestamp('2024-04-30 00:00:00'), 'Employment': 68.23529411764706, 'Birth Rate': -5240.0}
{'Date': Timestamp('2024-05-31 00:00:00'), 'Employment': 68.27731092436974, 'Birth Rate': -5312.0}
{'Date': Timestamp('2024-06-30 00:00:00'), 'Employment': 68.31932773109244, 'Birth Rate': -5384.0}
{'Date': Timestamp('2024-07-31 00:00:00'), 'Employment': 68.36134453781513, 'Birth Rate': -5456.0}
{'Date': Timestamp('2024-08-31 00:00:00'), 'Employment': 68.40336134453781, 'Birth Rate': -5528.0}
{'Date': Timestamp('2024-09-30 00:00:00'), 'Employment': 68.4453781512605, 'Birth Rate': -5600.0}
{'Date': Timestamp('2024-10-31 00:00:00'), 'Employment': 68.4873949579832, 'Birth Rate': -5672.0}
{'Date': Timestamp('2024-11-30 00:00:00'), 'Employment': 68.52941176470588, 'Birth Rate': -5744.0}
{'Date': Timestamp('2024-12-31 00:00:00'), 'Employment': 68.57142857142857, 'Birth Rate': -5816.0}
{'Date': Timestamp('2025-01-31 00:00:00'), 'Employment': 68.61344537815125, 'Birth Rate': -5888.0}
{'Date': Timestamp('2025-02-28 00:00:00'), 'Employment': 68.65546218487395, 'Birth Rate': -5960.0}
{'Date': Timestamp('2025-03-31 00:00:00'), 'Employment': 68.69747899159664, 'Birth Rate': -6032.0}
{'Date': Timestamp('2025-04-30 00:00:00'), 'Employment': 68.73949579831933, 'Birth Rate': -6104.0}
{'Date': Timestamp('2025-05-31 00:00:00'), 'Employment': 68.78151260504201, 'Birth Rate': -6176.0}
{'Date': Timestamp('2025-06-30 00:00:00'), 'Employment': 68.82352941176471, 'Birth Rate': -6248.0}
{'Date': Timestamp('2025-07-31 00:00:00'), 'Employment': 68.8655462184874, 'Birth Rate': -6320.0}
{'Date': Timestamp('2025-08-31 00:00:00'), 'Employment': 68.90756302521008, 'Birth Rate': -6392.0}
{'Date': Timestamp('2025-09-30 00:00:00'), 'Employment': 68.94957983193277, 'Birth Rate': -6464.0}
{'Date': Timestamp('2025-10-31 00:00:00'), 'Employment': 68.99159663865547, 'Birth Rate': -6536.0}
{'Date': Timestamp('2025-11-30 00:00:00'), 'Employment': 69.03361344537815, 'Birth Rate': -6608.0}
{'Date': Timestamp('2025-12-31 00:00:00'), 'Employment': 69.07563025210084, 'Birth Rate': -6680.0}
{'Date': Timestamp('2026-01-31 00:00:00'), 'Employment': 69.11764705882354, 'Birth Rate': -6752.0}
{'Date': Timestamp('2026-02-28 00:00:00'), 'Employment': 69.15966386554622, 'Birth Rate': -6824.0}
{'Date': Timestamp('2026-03-31 00:00:00'), 'Employment': 69.2016806722689, 'Birth Rate': -6896.0}
{'Date': Timestamp('2026-04-30 00:00:00'), 'Employment': 69.24369747899159, 'Birth Rate': -6968.0}
{'Date': Timestamp('2026-05-31 00:00:00'), 'Employment': 69.28571428571429, 'Birth Rate': -7040.0}
{'Date': Timestamp('2026-06-30 00:00:00'), 'Employment': 69.32773109243698, 'Birth Rate': -7112.0}
{'Date': Timestamp('2026-07-31 00:00:00'), 'Employment': 69.36974789915966, 'Birth Rate': -7184.0}
{'Date': Timestamp('2026-08-31 00:00:00'), 'Employment': 69.41176470588235, 'Birth Rate': -7256.0}
{'Date': Timestamp('2026-09-30 00:00:00'), 'Employment': 69.45378151260505, 'Birth Rate': -7328.0}
{'Date': Timestamp('2026-10-31 00:00:00'), 'Employment': 69.49579831932773, 'Birth Rate': -7400.0}
{'Date': Timestamp('2026-11-30 00:00:00'), 'Employment': 69.53781512605042, 'Birth Rate': -7472.0}
{'Date': Timestamp('2026-12-31 00:00:00'), 'Employment': 69.5798319327731, 'Birth Rate': -7544.0}
{'Date': Timestamp('2027-01-31 00:00:00'), 'Employment': 69.6218487394958, 'Birth Rate': -7616.0}
{'Date': Timestamp('2027-02-28 00:00:00'), 'Employment': 69.66386554621849, 'Birth Rate': -7688.0}
{'Date': Timestamp('2027-03-31 00:00:00'), 'Employment': 69.70588235294117, 'Birth Rate': -7760.0}
{'Date': Timestamp('2027-04-30 00:00:00'), 'Employment': 69.74789915966386, 'Birth Rate': -7832.0}
{'Date': Timestamp('2027-05-31 00:00:00'), 'Employment': 69.78991596638656, 'Birth Rate': -7904.0}
{'Date': Timestamp('2027-06-30 00:00:00'), 'Employment': 69.83193277310924, 'Birth Rate': -7976.0}
{'Date': Timestamp('2027-07-31 00:00:00'), 'Employment': 69.87394957983193, 'Birth Rate': -8048.0}
{'Date': Timestamp('2027-08-31 00:00:00'), 'Employment': 69.91596638655462, 'Birth Rate': -8120.0}
{'Date': Timestamp('2027-09-30 00:00:00'), 'Employment': 69.95798319327731, 'Birth Rate': -8192.0}
{'Date': Timestamp('2027-10-31 00:00:00'), 'Employment': 70.0, 'Birth Rate': -8264.0}

Empty DataFrame
Columns: []
Index: []

In [188]:
doo["LS"] = doo["LS"].fillna(0)
doo

            Birth Rate  Employment  Employment delta  Birth Rate delta   LS
2006-02-01       364.0        64.5               0.0             -26.0  0.0
2006-03-01       417.0        64.5               0.0              53.0  0.0
2006-04-01       374.0        64.6               0.1             -43.0  0.0
2006-05-01       361.0        64.7               0.1             -13.0  0.0
2006-06-01       360.0        64.8               0.1              -1.0  0.0
...                ...         ...               ...               ...  ...
2017-07-01       441.0        65.2               0.1              -1.0  0.0
2017-08-01       439.0        65.2               0.0              -2.0  0.0
2017-09-01       442.0        65.3               0.1               3.0  0.0
2017-10-01       422.0        65.4               0.1             -20.0  0.0
2017-11-01       350.0        65.5               0.1             -72.0  0.0

[142 rows x 5 columns]

In [101]:

doo["LS"] = ((doo["E delta"] - 61)/ doo["E delta"].mean()) ** 2 \
            + ((doo["B delta"] - 400)/doo["B delta"].mean()) ** 2 
doo[doo["LS"] == doo["LS"].min()]

            Birth Rate  Employment %  E delta  B delta            LS
2011-09-01       474.0          65.5      0.1     59.0  3.802516e+07

In [100]:
doo

            Birth Rate  Employment %  E delta  B delta  LS
1978-03-01         NaN          61.1      0.0      NaN NaN
1978-04-01         NaN          61.1      0.0      NaN NaN
1978-05-01         NaN          61.1      0.0      NaN NaN
1978-06-01         NaN          61.0     -0.1      NaN NaN
1978-07-01         NaN          61.0      0.0      NaN NaN
...                ...           ...      ...      ...  ..
2019-02-01         NaN          65.7      0.0      NaN NaN
2019-03-01         NaN          65.8      0.1      NaN NaN
2019-04-01         NaN          65.9      0.1      NaN NaN
2019-05-01         NaN          66.0      0.1      NaN NaN
2019-06-01         NaN          66.0      0.0      NaN NaN

[496 rows x 5 columns]

In [ ]:
def dist(series, target):
    return ((series - target[series.nam])/series.mean()) ** 2
doo.apply(lambda :)

In [ ]:
from typing import List

pred = pd.DataFrame()

class Month:
    def __init__(self, y, z):
        y: float = y
        z: float = z
    
    # def distance(self, other: Month) -> float:
    #     


sep = Month(400, )



new_state = Month()