In [1]:
import pandas as pd
from datetime import datetime as dt

In [12]:
data = pd.read_csv("data/Employment_no_SA.csv")

In [13]:
data.head(4)

   Unnamed: 0       Month  Employment
0           0  1978-02-01        61.1
1           1  1978-03-01        61.1
2           2  1978-04-01        61.1
3           3  1978-05-01        61.1

In [25]:
droped = data.drop(columns=["Unnamed: 0"])
thing = droped.to_csv(columns=["Month", "Employment"])

In [26]:
droped.index=droped.Month
droped.drop(["Month"], axis=1)

            Employment
Month
1978-02-01        61.1
1978-03-01        61.1
1978-04-01        61.1
1978-05-01        61.1
1978-06-01        61.0
...                ...
2019-03-01        65.8
2019-04-01        65.9
2019-05-01        66.0
2019-06-01        66.0
2019-07-01        66.1

[498 rows x 1 columns]

In [28]:
droped.to_csv("data/Employment_no_SA.csv")